[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
bleak = "*"
flask-socketio = "*"
sphinx = "==7.3.7"
pluggy = "==1.5.0"
pytest = "==8.2.0"
gevent = "*"
gevent-websocket = "*"

[dev-packages]
sphinx = "*"
pytest = "*"

[requires]
python_version = "3.11"
