[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bleak = "*"
quart = "*"
python-socketio = "*"
hypercorn = "*"
deprecated = "*"

[dev-packages]
sphinx = "*"
pytest = "*"
pytest-asyncio = "*"
pluggy = "==1.5.0"

[requires]
python_version = "3.11"
