/* container to arrange the elements on the page*/
.flexbox-container {
    display:  flex;
    justify-content: space-between;
}

.flexbox-container_right{
    display: flex;
    flex-direction: column;
    min-height: 300px;
    justify-content: space-between;
}

.flexbox-item{
    width: 300px;
    margin: 10px;
    /* below only for design*/
    /*border: 3px solid #333;
    background-color: white;*/
}

.flexbox-slider {
    display: flex;
    align-items: center;
    min-height: 300px;
}

/* container to group and arrange the buttons*/
.flexbox-change_lane_buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* style options for the slider to control the velocity */
.slider {
    -webkit-appearance: none;
    width: 300px;
    height: 125px;
    background: #d2f5ff;
    border: 0px solid #a200e6; /* border thickness and color */
    overflow: hidden;
    border-radius: 50px;
    transform: rotate(270deg); /* rotate by 270deg to get vertical slider */
}

/* style options for slider thumb*/
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 50px;
    height: 125px;
    background: #a200e6;
    cursor: cursor;
}

/* style for speed display */
.flexbox-speed_display {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin-bottom: 0px;
}

.flexbox-speed_value {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 74px;
    margin-top: 0px;
}

/* style options for buttons */
.button-size {
    width: 100px;
    height: 100px;
    font-size: 25px;
    border-radius: 50px;
    color: #a200e6;
    background: #d2f5ff;
    border: 0px solid #a200e6; /* border thickness and color */
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}

.info-box{
    width: 300px;
    margin: 15% auto;
    background-color: #fff;
    paddingL: 20px;
    border: 1px solid #000;
    box-shadow: 10px 10px 5px #888;
}

.refresh-button{
    display: block;
    margin: 5px auto;
}