body{
    background: #001a54; /* background color */
    font-family: Helvetica, Helvetica, sans-serif;
}

h1{
    color: #ff73fa; /* color headline 1 */
}

h2{
    color: #ff73fa; /* color headline 1 */
}

h3{
    color: #ff73fa; /* color headline 1 */
}

summary{
    color: #ff73fa; /* color headline 1 */
}

p{
    color: #ff73fa;
}
