<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Driver</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='driver.css')}}"/> <!-- to include stylesheet when running webinterface with flask -->
	<link rel="stylesheet" href="../static/driver.css"/> <!-- link to stylesheet for development for working preview -->

</head>
<body>
    <h1>Driver</h1>
    <div class="container">
        <div class="slider-container">
            <input type="range" min="0" max="100" class="slider" id="velocity">
        </div>

        <div class="button-container">
            <form action="/changeLane_left" method="post">
                <input type="submit" id="changeLane_left" value="<<" class="button-size">
            </form>
            <form action="/changeLane_right" method="post">
                <input type="submit" id="changeLane_right" value=">>" class="button-size">
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <script>
        var slider = document.getElementById("velocity");
        slider.oninput = function() {
            $.post("/slider", { value: this.value });
        }
    </script>

</body>
</html>