<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Driver {{my_var}}</title>

    <!-- general style sheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='general.css')}}"/> <!-- to include stylesheet when running webinterface with flask -->
	<link rel="stylesheet" href="../static/general.css"/> <!-- link to stylesheet for development for working preview -->

    <link rel="stylesheet" href="{{ url_for('static', filename='driver.css')}}"/> <!-- to include stylesheet when running webinterface with flask -->
	<link rel="stylesheet" href="../static/driver.css"/> <!-- link to stylesheet for development for working preview -->

</head>
<body>
    <h1>Player {{my_var}}</h1>
    <div class="container">
        <div class="slider-container">
            <input type="range" min="0" max="100" class="slider" id="velocity_req">
            <p>Value: <span id="velocity_res"></span></p>
        </div>

        <div class="button-container">
            <form action="{{ url_for('driverUI_bp.change_lane_left', player=my_var) }}" method="post">
                <input type="submit" id="change_lane_left" value="<<" class="button-size">
            </form>
            <form action="{{ url_for('driverUI_bp.change_lane_right', player=my_var) }}" method="post">
                <input type="submit" id="change_lane_right" value=">>" class="button-size">
            </form>
        </div>
    </div>

    <!-- Include socket.io library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script>
        var slider = document.getElementById("velocity_req");
        var output = document.getElementById("velocity_res");
        output.innerHTML = slider.value;

        slider.oninput = function() {
          output.innerHTML = this.value;
          socket.emit('slider_changed', {player: '{{my_var}}', value: this.value});
        }

        var socket = io.connect('http://' + document.domain + ':' + location.port);
    </script>

</body>
</html>