<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Driver {{my_var}}</title>

    <!-- general style sheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='general.css')}}"/> <!-- to include stylesheet when running webinterface with flask -->
	<link rel="stylesheet" href="../static/general.css"/> <!-- link to stylesheet for development for working preview -->

    <link rel="stylesheet" href="{{ url_for('static', filename='driver.css')}}"/> <!-- to include stylesheet when running webinterface with flask -->
	<link rel="stylesheet" href="../static/driver.css"/> <!-- link to stylesheet for development for working preview -->

    <!-- Include socket.io library -->
    <script src="{{ url_for('static', filename='external_resources/socketio/4.0.1/socket.io.js')}}" ></script>


</head>
<body>

    <div class="overlay" id="infoBoxOverlay">
        <div class="info-box">
            <h2>Information</h2>
            <p id="infoBoxContent">Player {{my_var}} currently not available. Please contact staff.</p>
            <button class="refresh-button" onclick="location.reload();">Refresh Page</button>
        </div>
    </div>

    <h1>Player {{my_var}}</h1>
    <div class="flexbox-container">
        <div class="flexbox-item flexbox-slider">
            <input type="range" min="0" max="100" class="slider" id="velocity_req">
        </div>
        <div class="flexbox-container_middle">
            <div class="flexbox-item">
                <img src="{{ url_for('static', filename='images/' + picture) }}" >
            </div>
        </div>
        <div class="flexbox-container_right">
            <div>
                <p class="flexbox-item flexbox-speed_display">Speed:</p>
                <p class="flexbox-item flexbox-speed_value"><strong> <span id="velocity_res"></span> </strong></p>
            </div>
            <div class="flexbox-item flexbox-change_lane_buttons">
                <button class="button-size" id="change_lane_left"> << </button>
                <button class="button-size" id="change_lane_right"> >> </button>
            </div>
        </div>
    </div>


    <script type="text/javascript" charset="utf-8">
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        <!-- slider to control velocity-->

        var slider = document.getElementById("velocity_req");
        var output = document.getElementById("velocity_res");
        output.innerHTML = slider.value;

        slider.oninput = function() {
          output.innerHTML = this.value;
          socket.emit('slider_changed', {player: '{{my_var}}', value: this.value});
        }

        <!-- buttons to control lanes -->
        var buttonLeft = document.getElementById("change_lane_left");
        var buttonRight = document.getElementById("change_lane_right");

        buttonLeft.onclick = function() {
          socket.emit('lane_change', {player: '{{my_var}}', direction: 'left'});
        }

        buttonRight.onclick = function() {
          socket.emit('lane_change', {player: '{{my_var}}', direction: 'right'});
        }


        window.onload = function() {
          let playerExists = {{ player_exists | tojson }};
          if(!playerExists) {
            document.getElementById("infoBoxOverlay").style.display = "block";
          }
          else {
            document.getElementById("infoBoxOverlay").style.display = "none";
          }
        }
    </script>

</body>
</html>