<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Configuration</title>

    <!-- general style sheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='general.css')}}"/> <!-- to include stylesheet when running webinterface with flask -->
	<link rel="stylesheet" href="../static/general.css"/> <!-- link to stylesheet for development for working preview -->

    <!-- specific style sheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='staff_configuration.css')}}"/> <!-- to include stylesheet when running webinterface with flask -->
	<link rel="stylesheet" href="../static/staff_configuration.css"/> <!-- link to stylesheet for development for working preview -->

</head>
<body>

<h1>Configuration</h1>




</body>
</html>