<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Staff_Control</title>

    <!-- general style sheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='general.css')}}"/> <!-- to include stylesheet when running webinterface with flask -->
	<link rel="stylesheet" href="../static/general.css"/> <!-- link to stylesheet for development for working preview -->

    <!-- specific style sheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='staff_control.css')}}"/> <!-- to include stylesheet when running webinterface with flask -->
	<link rel="stylesheet" href="../static/staff_control.css"/> <!-- link to stylesheet for development for working preview -->

</head>
<body>
<h1>IAV Distortion Control</h1>

    <div>
        <h2>Choose Hacking-Szenarios:</h2>

        <div class="choose_cars_container">
            <details ><summary> Car 1 </summary>
                <section class="hackingSzenario-section">
                    <form action="{{ url_for('staffUI_bp.set_szenario') }}" method="post">
                      <div class="radio-container">
                        <div>
                          <input type="radio" id="car1_option1" name="option" value="Car 1 Option 1">
                          <label for="car1_option1">Hack 1<br> Short describtion of Szenario 1</label>
                        </div>
                        <div>
                          <input type="radio" id="car1_option2" name="option" value="Car 1 Option 2">
                          <label for="car1_option2">Hack 2</label>
                        </div>
                        <div>
                          <input type="radio" id="car1_option3" name="option" value="Car 1 Option 3">
                          <label for="car1_option3">Hack 3</label>
                        </div>
                        <div>
                          <input type="radio" id="car1_option4" name="option" value="Car 1 Option 4">
                          <label for="car1_option4">Hack 4</label>
                        </div>
                        <div>
                          <input type="radio" id="car1_option5" name="option" value="Car 1 Option 5" checked>
                          <label for="car1_option5">Normal</label>
                        </div>
                      </div>
                      <input type="submit" value="Set Szenario">
                    </form>
                </section>
            </details>

            <details ><summary> Car 2 </summary>
                <section class="hackingSzenario-section">
                    <form action="{{ url_for('staffUI_bp.set_szenario') }}" method="post">
                      <div class="radio-container">
                        <div>
                          <input type="radio" id="car2_option1" name="option" value="Car 2 Option 1">
                          <label for="car2_option1">Hack 1</label>
                        </div>
                        <div>
                          <input type="radio" id="car2_option2" name="option" value="Car 2 Option 2">
                          <label for="car2_option2">Hack 2</label>
                        </div>
                        <div>
                          <input type="radio" id="car2_option3" name="option" value="Car 2 Option 3">
                          <label for="car2_option3">Hack 3</label>
                        </div>
                        <div>
                          <input type="radio" id="car2_option4" name="option" value="Car 2 Option 4">
                          <label for="car2_option4">Hack 4</label>
                        </div>
                        <div>
                          <input type="radio" id="car2_option5" name="option" value="Car 2 Option 5" checked>
                          <label for="car2_option5">Normal</label>
                        </div>
                      </div>
                      <input type="submit" value="Set Szenario">
                    </form>
                </section>
            </details>
        </div>
    </div>

</body>
</html>