{% extends 'driver_instruction_base.html' %}

{% block content %}
    
<div class="instruction">
    <h3>Welcome to the show case about cyber security</h3>
    <p>In this showcase, you can experience the effects of inadequate cyber security.
        You can playfully take on the role of a hacker to take over other vehicles. 
        <br>
        <br>
        Identify whether you are controlling a real or virtual vehicle.
        If you are driving a real vehicle, you will see a picture of the real vehicle in your driver view; otherwise, you will see an image of your virtual vehicle.
        <br>
        <br>
        As a driver of a virtual vehicle, you take on the role of the attacker, chasing the real vehicles on the virtual track.
        Stay close to a real vehicle long enough and a loading bar at the bottom of the screen will fill up.
        Once it is full, you can perform a hacking attack and try to take over the other vehicle.
        <br>
        <br>
        As a driver of a real vehicle, you try to escape the virtual attackers through skillful driving maneuvers.
        As additional help, you can collect protection tokens (visible only on the virtual track).
        As long as the protection is active, you are safe from attacks. </p>
</div>

{% endblock %}