<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Security Token enabled</title>

    <!-- general style sheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='general.css')}}"/> <!-- to include stylesheet when running webinterface with flask -->
	<link rel="stylesheet" href="../static/general.css"/> <!-- link to stylesheet for development for working preview -->

    <!-- custom header stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='custom_header.css')}}"/> <!-- to include stylesheet when running webinterface with flask -->
	<link rel="stylesheet" href="../static/custom_header.css"/> <!-- link to stylesheet for development for working preview -->

    <link rel="stylesheet" href="{{ url_for('static', filename='driver.css')}}"/> <!-- to include stylesheet when running webinterface with flask -->
	<link rel="stylesheet" href="../static/driver.css"/> <!-- link to stylesheet for development for working preview -->
</head>
<body>
    <div class="overlay" id="infoBoxOverlay">
        <div class="info-box">
            <div class="info-title">
                <h2>Information</h2>
            </div>
            <p id="infoBoxContent" class="info-text"> Security Token enabled</p>
            <p id="exit_text" class="info-text"> </p>

        </div>
    </div>

    <div class="flexbox-container custom_header">
        <p class="header">Enabled security token</p>
        <img id="logo" src="{{ url_for('static', filename='images/IAV-Logo-White.svg') }}" onerror="this.onerror=null; this.src='{{ url_for('static', filename='images/blank.png') }}'" >
    </div>
    

</body>
</html>