<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Driver {{player}}</title>

    <!-- general style sheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='general.css')}}"/> <!-- to include stylesheet when running webinterface with flask -->
	<link rel="stylesheet" href="../static/general.css"/> <!-- link to stylesheet for development for working preview -->

    <link rel="stylesheet" href="{{ url_for('static', filename='driver.css')}}"/> <!-- to include stylesheet when running webinterface with flask -->
	<link rel="stylesheet" href="../static/driver.css"/> <!-- link to stylesheet for development for working preview -->

    <!-- Include socket.io library -->
    <script src="{{ url_for('static', filename='external_resources/socketio/4.7.5/socket.io.js')}}" ></script>


</head>
<body>

    <div class="overlay" id="infoBoxOverlay">
        <div class="info-box">
            <div class="info-title">
                <h2>Information</h2>
            </div>
            <p id="infoBoxContent"> Player {{player}} currently not available. Please contact staff.</p>
            <button class="refresh-button" onclick="location.reload();"> <span class="reload_symbol">&circlearrowright;	</span> Refresh Page</button>
        </div>
    </div>

    <div class="flexbox-container custom_header">
        <p class="header">Player {{player}}</p>
        <img id="logo" src="{{ url_for('static', filename='images/IAV-Logo-White.svg') }}" onerror="this.onerror=null; this.src='{{ url_for('static', filename='images/blank.png') }}'" >
    </div>

    <div class="flexbox-container">
        <div class="flexbox-item flexbox-slider">
            <input type="range" min="20" max="100" class="slider" id="speed_request">
        </div>

        <div class="flexbox-container_middle">
            <div class="flexbox-item avatar">
                <img id="avatar" src="{{ url_for('static', filename='images/' + picture) }}" onerror="this.onerror=null; this.src='{{ url_for('static', filename='images/blank.png') }}'">
            </div>

            <div class="flexbox-item flexbox-hackedInfo" id="hackedInfo">
                <p class="hackedInfo_text"><strong> You have been hacked! </strong> </p>
                <p class="hackedInfo_text"><strong>Ask IAV for help.</strong></p>
            </div>
        </div>

        <div class="flexbox-container_right">
            <div>
                <p class="flexbox-item flexbox-speed_display-label">Speed:</p>
                <p class="flexbox-item flexbox-speed_display"><strong> <span id="speed_actual" class="flexbox-speed_display value"> </span> </strong> mm/s</p>
            </div>

            <div class="flexbox-driver_buttons">
                <div class="flexbox-item flexbox-change_lane_buttons">
                    <button class="driver-buttons" id="make_uturn">
                        &curvearrowleft;
                    </button>
                </div>

                <div class="flexbox-item flexbox-change_lane_buttons">
                    <button class="driver-buttons" id="change_lane_left">
                        &ShortLeftArrow;
                    </button>
                    <button class="driver-buttons" id="change_lane_right">
                        &ShortRightArrow;
                    </button>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript" charset="utf-8">
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        <!-- slider to control velocity-->

        var slider = document.getElementById("speed_request");
        var speed_actual = document.getElementById("speed_actual");


        slider.oninput = function() {
          this.style.background = 'linear-gradient(to right, #0091FF 0%, #0091FF '+ this.value +'%, #ddd ' + this.value + '%, #ddd 100%)';
          socket.emit('slider_changed', {player: '{{player}}', value: this.value});
        };

        <!-- buttons to control lanes -->
        var buttonLeft = document.getElementById("change_lane_left");
        var buttonRight = document.getElementById("change_lane_right");

        buttonLeft.onclick = function() {
          socket.emit('lane_change', {player: '{{player}}', direction: 'left'});
        };

        buttonRight.onclick = function() {
          socket.emit('lane_change', {player: '{{player}}', direction: 'right'});
        };

        <!-- buttons to control uturn -->
        var buttonUTurn = document.getElementById("make_uturn");

        buttonUTurn.onclick = function() {
          socket.emit('make_uturn', {player: '{{player}}'});
        };

        <!-- loading window -->
        window.onload = function() {

          let playerExists = {{ player_exists | tojson }};
          if(!playerExists) {
            document.getElementById("infoBoxOverlay").style.display = "block";
          }
          else {
            document.getElementById("infoBoxOverlay").style.display = "none";

            var active_hacking_scenario = {{vehicle_information.active_hacking_scenario }};
            show_hacked_info(active_hacking_scenario);

            var slider_temp = document.getElementById("speed_request");
            slider_temp.value = {{ vehicle_information.speed_request }};
            slider.oninput();
          }
        };

        <!-- driving data functions -->
        function get_driving_data(){
          socket.emit('get_driving_data');
        };

        socket.on('update_driving_data', function(data){
          if(data.player == '{{player}}'){
            speed_actual.innerHTML = data.speed_actual;
            show_hacked_info(data.active_hacking_scenario);
          }
        });

        function show_hacked_info(active_hacking_scenario){
          if(active_hacking_scenario == "0") {
            document.getElementById("hackedInfo").style.display = "none";
          }
          else {
            document.getElementById("hackedInfo").style.display = "block";
          }
        };

    </script>

</body>
</html>