<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Driver {{player}}</title>

    <!-- general style sheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='general.css')}}"/> <!-- to include stylesheet when running webinterface with flask -->
	<link rel="stylesheet" href="../static/general.css"/> <!-- link to stylesheet for development for working preview -->

    <!-- custom header stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='custom_header.css')}}"/> <!-- to include stylesheet when running webinterface with flask -->
	<link rel="stylesheet" href="../static/custom_header.css"/> <!-- link to stylesheet for development for working preview -->

    <link rel="stylesheet" href="{{ url_for('static', filename='driver.css')}}"/> <!-- to include stylesheet when running webinterface with flask -->
	<link rel="stylesheet" href="../static/driver.css"/> <!-- link to stylesheet for development for working preview -->

    <!-- Include socket.io library -->
    <script src="{{ url_for('static', filename='external_resources/socketio/4.7.5/socket.io.js')}}" ></script>
 
</head>
<body>

    <input type="text" id="textInput">

    <script type="text/javascript" charset="utf-8">
    
        var socket = io.connect('http://' + document.domain + ':' + location.port);  

        socket.on('connect', () => {
            socket.emit('minigame_test_handle_connect', {player: '{{ player }}'});
            console.log('Websocket connected');
        });

        window.onunload = function() {
            socket.emit('minigame_test_disconnected', {player: '{{ player }}'});
        }

        textInput = document.getElementById("textInput");
        textInput.onchange = function(){
            socket.emit('minigame_test_value_submit', {player: '{{ player }}', value: textInput.value})
        }

    </script>
</body>
</html>
