{% extends 'staff_config_base.html' %}

{% block content %}

<div class="flexbox-item config_content">
    <form id="minigame_settings" action="{{ url_for('staffUI_bp.apply_minigame_settings') }}" method="post">
        <div id="general">
            <h2>General Minigame Settings</h2>
            <div class="menu_item">
                <label class="checkbox-container"> Make cars drive at constant speed while drivers are playing a minigame:
                    <input type="checkbox" id="auto_drive_constantly" name="auto_drive_constantly">
                    <span class="custom-checkbox"></span>    
                </label>
            </div>
            <div class="menu_item">
                <label for="driving_speed_while_playing">Speed % of drivers' cars while they are playing:</label>
                <input type="number" id="driving_speed_while_playing" name="driving_speed_while_playing" min="0" max="100">
            </div>
            <div class="menu_item">
                <label for="rule_acceptance_timeout">Rule acceptance Timeout:</label>
                <input type="number" id="rule_acceptance_timeout" name="rule_acceptance_timeout" min="5" max="30">
            </div>
        </div>

        <div id="available_minigames">
            <h2>Available Minigames</h2>
            <div class="menu_item">
                <label class="checkbox-container"> Minigame_Test:
                    <input type="checkbox" id="Minigame_Test" name="Minigame_Test">
                    <span class="custom-checkbox"></span>    
                </label>
            </div>
            <div class="menu_item">
                <label class="checkbox-container"> Tapping_Contest:
                    <input type="checkbox" id="Tapping_Contest" name="Tapping_Contest">
                    <span class="custom-checkbox"></span>    
                </label>
            </div>
            <div class="menu_item">
                <label class="checkbox-container"> Reaction_Contest:
                    <input type="checkbox" id="Reaction_Contest" name="Reaction_Contest">
                    <span class="custom-checkbox"></span>    
                </label>
            </div>
        </div>
        <div id="specific_settings">
            <h2>Specific Settings</h2>
            <div id="Tapping_Contest_Settings">
                <h3>Tapping Contest Settings:</h3>
                <div class="menu_item">
                    <label for="Tapping_Contest_Game_length">Length of Tapping Contest games in seconds (default 10):</label>
                    <input type="number" id="Tapping_Contest_Game_length" name="Tapping_Contest_Game_length" min="5" max="100">
                </div>
            </div>
            <div id="Reaction_Contest_Settings">
                <h3>Reaction Contest Settings:</h3>
                <div class="menu_item">
                    <label for="Reaction_Contest_Min_length">Min length of Reaction Contest games in seconds (default 2):</label>
                    <input type="number" id="Reaction_Contest_Min_length" name="Reaction_Contest_Min_length" min="1" max="10">
                </div>
                <div class="menu_item">
                    <label for="Reaction_Contest_Max_length">Max length of Reaction Contest games in seconds (default 5):</label>
                    <input type="number" id="Reaction_Contest_Max_length" name="Reaction_Contest_Max_length" min="5" max="20">
                </div>
                <div class="menu_item">
                    <label for="Reaction_Contest_Game_length">Length of Tapping Contest games in seconds (default 10):</label>
                    <input type="number" id="Reaction_Contest_Game_length" name="Reaction_Contest_Game_length" min="10" max="30">
                </div>
            </div>
        </div>
        <button type="submit">Apply changes... </button>
    </form>
</div>

<script>


    function displayCurrentConfig(data) {
        var settings = {{ settings | tojson }};

        // Checkboxes
        document.getElementById('auto_drive_constantly').checked = settings['minigame']['auto_drive_constantly']
        let minigameCheckboxes = ['Minigame_Test', 'Tapping_Contest', 'Reaction_Contest']  
        minigameCheckboxes.forEach( (id) => {
            document.getElementById(id).checked = settings['minigame']['games'][id]
        })

        // numbers
        driving_speed_while_playing.value = settings.minigame.driving_speed_while_playing;
        rule_acceptance_timeout.value = settings.minigame.rule_acceptance_timeout;
        Tapping_Contest_Game_length.value = settings.minigame['tapping-contest']['game-length'];
        Reaction_Contest_Min_length.value = settings.minigame['reaction-contest']['min-length'];
        Reaction_Contest_Max_length.value = settings.minigame['reaction-contest']['max-length'];
        Reaction_Contest_Game_length.value = settings.minigame['reaction-contest']['game-ends'];
    }


    // Call the function after the DOM has fully loaded
    document.addEventListener('DOMContentLoaded', displayCurrentConfig);
</script>


{% endblock %}