{% extends 'staff_config_base.html' %}

{% block content %}

<div class="flexbox-item config_content">
    <form id="display_settings" action="{{ url_for('staffUI_bp.apply_display_settings') }}" method="post">
        <div id="car_map_disp_settings">
            <h2>Car Map</h2>
            <div>
                <label class="checkbox-container"> Display Slogan:

                    <input type="checkbox" id="disp_cm_slogan_enabled" name="disp_cm_slogan_enabled">
                    <span class="custom-checkbox"></span>
                </label>
            </div>
            <div>
                <label for="disp_cm_slogan_text">Slogan (max. 75):</label>
                <input type="text" id="disp_cm_slogan_text" name="disp_cm_slogan_text" maxlength="75" style="width: 500px">
            </div>
            <div>
                <label class="checkbox-container">Display QR-Codes:
                    <input type="checkbox" id="disp_cm_qr_codes_enabled" name="disp_cm_qr_codes_enabled">
                    <span class="custom-checkbox"></span>
                </label>
            </div>
            <div>
                <label class="checkbox-container">Display IAV Header:
                    <input type="checkbox" id="disp_cm_iav_header_enabled" name="disp_cm_iav_header_enabled">
                    <span class="custom-checkbox"></span>
                </label>
            </div>
            <h3>Colors:</h3>
            <div>
                <label for="disp_cm_background_color">Background:</label>
                <input type="color" id="disp_cm_background_color" name="disp_cm_background_color">
            </div>
            <div>
                <label for="disp_cm_track_color">Track:</label>
                <input type="color" id="disp_cm_track_color" name="disp_cm_track_color">
            </div>
            <div>
                <label for="disp_cm_track_border_color">Track border:</label>
                <input type="color" id="disp_cm_track_border_color" name="disp_cm_track_border_color">
            </div>
            <div>
                <label for="disp_cm_start_line_color">Start line:</label>
                <input type="color" id="disp_cm_start_line_color" name="disp_cm_start_line_color">
            </div>
            <div>
                <label for="disp_cm_item_color">Items:</label>
                <input type="color" id="disp_cm_item_color" name="disp_cm_item_color">
            </div>
        </div>
        <div id="driver_ui_disp_settings">

        </div>
        <div id="staff_ui_disp_settings">

        </div>
        <button type="submit">Apply changes... </button>
    </form>
</div>

<script>


    function displayCurrentConfig(data) {
        var disp_settings = {{ disp_settings | tojson }};

        // Checkboxes
        var checkbox_slogan = document.getElementById('disp_cm_slogan_enabled');
        if (disp_settings.disp_cm_slogan_enabled) {
            checkbox_slogan.checked = true;
        } else {
            checkbox_slogan.checked = false;
        }

        var checkbox_qr_codes = document.getElementById('disp_cm_qr_codes_enabled');
        if (disp_settings.disp_cm_qr_codes_enabled){
            checkbox_qr_codes.checked = true;
        } else {
            checkbox_qr_codes.checked = false;
        }

        var checkbox_iav_header = document.getElementById('disp_cm_iav_header_enabled');
        if (disp_settings.disp_cm_iav_header_enabled){
            checkbox_iav_header.checked = true;
        } else {
            checkbox_iav_header.checked = false;
        }

        // slogan text
        disp_cm_slogan_text.value = disp_settings.disp_cm_slogan_text;

        // colors
        document.getElementById('disp_cm_background_color').value = disp_settings.disp_cm_background_color;
        document.getElementById('disp_cm_track_color').value = disp_settings.disp_cm_track_color;
        document.getElementById('disp_cm_track_border_color').value = disp_settings.disp_cm_track_border_color;
        document.getElementById('disp_cm_start_line_color').value = disp_settings.disp_cm_start_line_color;
        document.getElementById('disp_cm_item_color').value = disp_settings.disp_cm_item_color;
    }


    // Call the function after the DOM has fully loaded
    document.addEventListener('DOMContentLoaded', displayCurrentConfig);
</script>


{% endblock %}