<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Staff_Control</title>

    <!-- general style sheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='general.css')}}"/> <!-- to include stylesheet when running webinterface with flask -->
	<link rel="stylesheet" href="../static/general.css"/> <!-- link to stylesheet for development for working preview -->

    <!-- specific style sheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='staff_control.css')}}"/> <!-- to include stylesheet when running webinterface with flask -->
	<link rel="stylesheet" href="../static/staff_control.css"/> <!-- link to stylesheet for development for working preview -->

    <!-- Include socket.io library -->
    <script src="{{ url_for('static', filename='external_resources/socketio/4.7.5/socket.io.js')}}" ></script>
    <script src="{{ url_for('static', filename='external_resources/jquery-3.7.1.min.js')}}"></script>

</head>
<body>
    <div class="flexbox-container custom_header">
        <p class="header">IAV Distortion - Control</p>
        <img id="logo" src="{{ url_for('static', filename='images/IAV-Logo-White.svg') }}" onerror="this.onerror=null; this.src='{{ url_for('static', filename='images/blank.png') }}'" >
    </div>

    <div class="flexbox-container">
        <div class="flexbox-item flexbox-hacking_cars">
        <h2>Choose Hacking-Scenarios:</h2>
            <div class="choose_cars_container" id="choose_hacking_scenarios">  </div>
        </div>

        <div id="data" class="flexbox-item flexbox-manageCars">
            <h2>Active cars:</h2>
            <div class="flexbox-item flexbox-activeCars" id="table-container"></div>

            <h3>Add cars... </h3>
            <button id="search_cars"> Search... </button>
            <ul class="flexbox-item flexbox-activeCars" id="devices"></ul>
        </div>

    </div>

<script>
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.on('connect', function(){
        socket.emit('get_uuids');
    });

    socket.on('update_uuids', function(data){
        var uuid = data["uuids"];
        var car_queue = data["car_queue"];
        var player_queue=data["player_queue"];
        $('#table-container').empty();
        var uuids_table = document.createElement('table');

        // create table header
        var thead = document.createElement('thead');
        var header_row = document.createElement('tr');

        var header_player = document.createElement('th');
        header_player.innerText = 'Player';
        header_row.appendChild(header_player);

        var header_uuid = document.createElement('th');
        header_uuid.innerText = 'UUID';
        header_row.appendChild(header_uuid);

        thead.appendChild(header_row);
        uuids_table.appendChild(thead);

        // fill table with player and uuids
        for (let player in uuid) {
            var row = document.createElement('tr');

            var cell_player = document.createElement('td');
            var cell_uuid = document.createElement('td');
            var cell_del = document.createElement('td');
            var delButton = document.createElement('button');
            delButton.textContent = 'delet';
            delButton.className = 'button_small button_pink'
            delButton.onclick = function(){
                if(confirm(`Are you sure you want to delete the device with the id: ${uuid[player]}?`)) {
                    deleteDevice(uuid[player])
                }
            };

            cell_player.innerText = player;
            cell_uuid.innerText = uuid[player];


            row.appendChild(cell_player);
            row.appendChild(cell_uuid);
            row.appendChild(delButton);


            uuids_table.appendChild(row);
        }

        // fill table with player and uuids
        for (let player in player_queue) {
            var row = document.createElement('tr');

            var cell_player = document.createElement('td');
            var cell_uuid = document.createElement('td');

            cell_player.innerText = player_queue[player];
            cell_uuid.innerText = "None";

            row.appendChild(cell_player);
            row.appendChild(cell_uuid);
            uuids_table.appendChild(row);
        }

                // fill table with player and uuids
        for (let car in car_queue) {
            var row = document.createElement('tr');

            var cell_player = document.createElement('td');
            var cell_uuid = document.createElement('td');

            cell_player.innerText = "None";
            cell_uuid.innerText = car_queue[car];

            row.appendChild(cell_player);
            row.appendChild(cell_uuid);
            uuids_table.appendChild(row);
        }
        document.getElementById('table-container').appendChild(uuids_table);

       socket.emit('get_update_hacking_scenarios');
    });

    // automatic update of section to choose hacking scenarios
    socket.on('update_hacking_scenarios', function(data){
        // update sections to chose hacking scenarios
        var uuids = data['uuids'];
        var activeScenarios = data['activeScenarios'];
        var descriptions = data['descriptions'];
        var names = data['names'];

        var div_choose_hacking_scenarios = document.getElementById('choose_hacking_scenarios');
        div_choose_hacking_scenarios.innerHTML = '';

        for (var player in uuids){
            var uuid = uuids[player];
            var scenario = activeScenarios[uuid];

            var h3_car = document.createElement('h3')
            h3_car.innerHTML = `<h3>Player ${player} - Car: ${uuid}</h3>`
            div_choose_hacking_scenarios.append(h3_car);

            var section_hacking_scenarios = document.createElement('section');
            section_hacking_scenarios.className = "flexbox-item flexbox-hacking_scenarios";

            var div_text_active_scenario = document.createElement('div');
            div_text_active_scenario.className = "activeScenario_text"
            div_text_active_scenario.innerHTML = `<span><strong>Active Scenario:</strong> ${scenario} - ${descriptions[scenario]}</span>`
            section_hacking_scenarios.append(div_text_active_scenario);

            var form_choose_hack = document.createElement('form');
            form_choose_hack.setAttribute('action', "{{ url_for('staffUI_bp.set_scenario') }}");
            form_choose_hack.setAttribute('method', 'post');

            var div_radio_buttons = document.createElement('div');
            div_radio_buttons.className = "flexbox-radio-button";
            for (var id in names){
                var div = document.createElement('div');
                var input_radio = document.createElement('input');
                input_radio.classList.add('custom-radio');
                input_radio.setAttribute('type', 'radio');
                input_radio.setAttribute('id', `$id`);
                input_radio.setAttribute('name', 'option');
                input_radio.setAttribute('value', `scenarioID_${ id }-UUID_${ uuid }>`);

                // Enable submit button if any radio is checked
                input_radio.addEventListener('change', function() {
                  input_submit.disabled = !this.checked;
                });

                div.append(input_radio);

                var label_radio = document.createElement('label');
                label_radio.setAttribute('for', `$id`);
                label_radio.innerHTML = `<strong> Scenario ${ id } </strong> <br> <span class="scenarioDescription"> ${ descriptions[ id ] } </span>`
                div.append(label_radio);

                div_radio_buttons.appendChild(div);
            }
            form_choose_hack.appendChild(div_radio_buttons);

            let input_submit = document.createElement('input');
            input_submit.setAttribute('type', 'submit');
            input_submit.setAttribute('value', 'Set Scenario');
            input_submit.disabled = true;
            form_choose_hack.append(input_submit);
            section_hacking_scenarios.append(form_choose_hack);

            div_choose_hacking_scenarios.append(section_hacking_scenarios);
        }
    });

    // Set scenario buttons


    // buttons to search and add cars
    var search_cars = document.getElementById("search_cars");
    var add_car = document.getElementById("add_car");

    search_cars.onclick = function() {
      socket.emit('search_cars');
    }

    var deviceList = document.getElementById("devices");
    socket.on('new_devices', function(devices){
      while (deviceList.firstChild) {
        deviceList.removeChild(deviceList.firstChild);
      }
      devices.forEach(function(device) {
        var li = document.createElement('li');
        li.appendChild(document.createTextNode(device));
        var addButton = document.createElement('button');
        addButton.textContent = 'Add';
        addButton.onclick = function(){ addDevice(device); };
        addButton.className = 'button_small';
        li.appendChild(addButton);
        deviceList.appendChild(li);
      });
    });

    function addDevice(device) {
      socket.emit('add_device', device);
      remove_from_found_devices(device);
    }

    function deleteDevice(device) {
      socket.emit('delete_device', device);
    }

    function remove_from_found_devices(device) {
      var list = document.getElementById("devices");
      var items = list.getElementsByTagName('li');
      for (var i = 0; i < items.length; i++) {
        if (items[i].textContent === device + "Add") {
            list.removeChild(items[i]);
            break;
        }
    }
}


</script>

</body>
</html>