{% extends 'staff_config_base.html' %}

{% block content %}

<div class="flexbox-item config_content">
    <div id="restart_info" class="alert">
        <p>Some of the configuration will only apply after a restart of IAV Distortion. Please restart after applying changes!</p>
    </div>
    <form id="advanced_settings" action="{{ url_for('staffUI_bp.apply_advanced_settings') }}" method="post">
        <div id="adv_driver_settings">
            <h2>Driver Settings</h2>
            <div class="menu_item">
                <label for="driver_heartbeat_interval_ms">Heartbeat [ms]:</label>
                <input type="number" id="driver_heartbeat_interval_ms" name="driver_heartbeat_interval_ms" min="100" max="10000">
            </div>
            <div class="menu_item">
                <label for="driver_heartbeat_timeout_s">Heartbeat Timeout [s]:</label>
                <input type="number" id="driver_heartbeat_timeout_s" name="driver_heartbeat_timeout_s" min="1" max="600">
            </div>
            <div class="menu_item">
                <label for="driver_reconnect_grace_period_s">Reconnection Grace Period [s]:</label>
                <input type="number" id="driver_reconnect_grace_period_s" name="driver_reconnect_grace_period_s" min="0" max="600">
            </div>
            <div class="menu_item">
                <label for="driver_background_grace_period_s">Background Grace Period [s]:</label>
                <input type="number" id="driver_background_grace_period_s" name="driver_background_grace_period_s" min="0" max="600">
            </div>
            <div class="menu_item">
                <label for="game_cfg_playing_time_limit_min">Playing Time [min]:</label>
                <input type="number" id="game_cfg_playing_time_limit_min" name="game_cfg_playing_time_limit_min" min="0" max="3600">
            </div>
        </div>

        <div id="adv_environment_settings">
            <h2>Environment Settings</h2>
            <div class="menu_item">
                <label class="checkbox-container"> Auto connect cars:
                    <input type="checkbox" id="env_auto_discover_anki_cars" name="env_auto_discover_anki_cars">
                    <span class="custom-checkbox"></span>    
                </label>
            </div>
            <div class="menu_item">
                <label for="env_vehicle_scale">Vehicle scale:</label>
                <input type="number" id="env_vehicle_scale" name="env_vehicle_scale" min="1" max="500">
            </div>
            <div class="menu_item">
                <label for="protection_duration_s">Hacking protection duration [s]:</label>
                <input type="number" id="protection_duration_s" name="protection_duration_s" min="1" max="120">
            </div>

            <div class="menu_item">
                <label for="item_spawn_interval">Items spawn intervall [s]:</label>
                <input type="number" id="item_spawn_interval" name="item_spawn_interval" min="1" max="120">
            </div>
            <div class="menu_item">
                <label for="item_max_count">Number of items on track:</label>
                <input type="number" id="item_max_count" name="item_max_count" min="0" max="20">
            </div>
        </div>

        <div id="adv_environment_settings">
            <h2>Environment Settings</h2>
            <div class="menu_item">
                <label for="proximity_timer_duration_s">Proximity Timer Duration [s]:</label>
                <input type="number" id="proximity_timer_duration_s" name="proximity_timer_duration_s" min="1" max="10">
            </div>
            <div class="menu_item">
                <label for="proximity_timer_range">Proximity Check Range:</label>
                <input type="number" id="proximity_timer_range" name="proximity_timer_range" min="100" max="500">
            </div>
            <div>
                <label>Which Cars can hack:</label>
                <div class="menu_item">
                    <label class="checkbox-container"> Virtual Cars:
                        <input type="checkbox" id="cars_that_can_hack_virtual" name="cars_that_can_hack_virtual">
                        <span class="custom-checkbox"></span>    
                    </label>
                </div>
                <div class="menu_item">
                    <label class="checkbox-container"> Physical Cars:
                        <input type="checkbox" id="cars_that_can_hack_physical" name="cars_that_can_hack_physical">
                        <span class="custom-checkbox"></span>    
                    </label>
                </div>
            </div>
            <div>
                <label>Which Cars can be hacked:</label>
                <div class="menu_item">
                    <label class="checkbox-container"> Virtual Cars:
                        <input type="checkbox" id="hackable_cars_virtual" name="hackable_cars_virtual">
                        <span class="custom-checkbox"></span>    
                    </label>
                </div>
                <div class="menu_item">
                    <label class="checkbox-container"> Physical Cars:
                        <input type="checkbox" id="hackable_cars_physical" name="hackable_cars_physical">
                        <span class="custom-checkbox"></span>    
                    </label>
                </div>
            </div>
        </div>

        <button type="submit">Apply changes... </button>
    </form>
</div>

<script>


    function displayCurrentConfig(data) {
        var settings = {{ settings | tojson }};

        // Checkboxes
        var checkbox_env_auto_discover_anki_cars = document.getElementById('env_auto_discover_anki_cars');
        if (settings.environment.env_auto_discover_anki_cars) {
           checkbox_env_auto_discover_anki_cars.checked = true;
        } else {
            checkbox_env_auto_discover_anki_cars.checked = false;
        }
        document.getElementById('cars_that_can_hack_virtual').checked = settings['vehicle_takeover']['cars_that_can_hack']['virtual'];
        document.getElementById('cars_that_can_hack_physical').checked = settings['vehicle_takeover']['cars_that_can_hack']['physical'];
        document.getElementById('hackable_cars_virtual').checked = settings['vehicle_takeover']['hackable_cars']['virtual'];
        document.getElementById('hackable_cars_physical').checked = settings['vehicle_takeover']['hackable_cars']['physical'];

        // numbers
        driver_heartbeat_interval_ms.value = settings.driver.driver_heartbeat_interval_ms;
        driver_heartbeat_timeout_s.value = settings.driver.driver_heartbeat_timeout_s;
        driver_reconnect_grace_period_s.value = settings.driver.driver_reconnect_grace_period_s;
        driver_background_grace_period_s.value = settings.driver.driver_background_grace_period_s;
        game_cfg_playing_time_limit_min.value = settings.game_config.game_cfg_playing_time_limit_min;

        env_vehicle_scale.value = settings.environment.env_vehicle_scale;
        protection_duration_s.value = settings.hacking_protection.protection_duration_s;
        item_spawn_interval.value = settings.item.item_spawn_interval;
        item_max_count.value = settings.item.item_max_count;

        proximity_timer_duration_s.value = settings.vehicle_takeover['proximity_timer']['duration'];
        proximity_timer_range.value = settings.vehicle_takeover['proximity_timer']['range'];
    }


    // Call the function after the DOM has fully loaded
    document.addEventListener('DOMContentLoaded', displayCurrentConfig);
</script>


{% endblock %}