.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.canvas {
    width: 85vw;
    height: 100vh;
    position: relative;
}

.instructions {
    width: 15vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    box-sizing: border-box;
}

.qr-code {
    margin-bottom: 20px;
}
.qr-code img{
    max-width: 100%;;
    height: auto;
    margin: 15px 0;
}

.slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}