body{
    background: #FFFFFF; /* background color */
    font-family: Helvetica, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

.flexbox-container{
    display:  flex;
}

/* text style*/
h1{
    color: #001A54; /* color headline 1 */
}

h2{
    color: #001A54; /* color headline 1 */
}

h3{
    color: #001A54; /* color headline 1 */
}

summary{
    color: #001A54; /* color headline 1 */
}

span{
    color: #001A54;
}

td {
    color: #001A54;
}

tr {
    color: #001A54;
}

p{
    color: #001A54;
}

p.header{
    color: #FFFFFF;
    font-size: 24px;
    margin: 15px;
}

label{
    color: #001A54;
}

input[type=submit] {
    min-width: 80px;
    height: 60px;
    border: 0px;
    border-radius: 15px;
    gap: 8px;
    background-color: #0091FF;
    color: #FFFFFF;
    color: #FFFFFF;
    margin-top: 5px;
}

input:hover[type=submit] {
    background-color: #33A7FF;
}

input:active[type=submit] {
    background-color: #0074CC;
}

input[type=submit]:disabled {
  background-color: #C8C6C6;
  color: #696969;
}

button {
    min-width: 80px;
    height: 60px;
    border: 0px;
    border-radius: 15px;
    gap: 8px;
    background-color: #0091FF;
    color: #FFFFFF;
    margin-top: 5px;
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

button:hover {
    background-color: #33A7FF;
}

button:active {
    background-color: #0074CC;
}

.button_small{
    min-width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.button_red{
    background-color: #F80000;
}

.button_red:hover{
    background-color: #FB6666;
}

.button_red:active{
    background-color: #C60000;
}

.button_pink{
    background-color: #DC46F3;
}

.button_pink:hover{
    background-color: #E36BF5;
}

.button_pink:active{
    background-color: #B038C2;
}

/* table style*/
table {
    border-collapse: collapse;
}

th, td{
    text-align: left;
    padding: 5px;
    padding: 5px;
    min-width: 60px;
}

tr + tr{
    border-top: 1px solid #969494;
}

tr:last-child {
    border-bottom: 1px solid #969494;
}

th{
  position: relative;
  }

th::before {
  content: "";
  position: absolute;
  top: 20%; /* Start from 10% to provide spacing from top */
  bottom: 20%; /* End at 10% from bottom to provide spacing from bottom */
  left: 0; /* Stick to the left */
  border-left: 1px solid #969494;
}

th:first-child::before {
    border-left: none;
}

td:last-child {
    padding-right: 30px;
}


/* Hide the default radio button */
.custom-radio {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
}

/* Create a new 'radio' button */
.custom-radio + label:before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    border-radius: 50%;
    border: 2px solid #C8C6C6;
    vertical-align: middle;
}

/* Style for checked state */
.custom-radio:checked + label:before {
    background-image: radial-gradient(circle at center, #0091FF 40%, transparent 50%);
    border-color: #0091FF;
}

/* Checkbox style */
input[type="checkbox"] {
    display: none;
}

/* Custom checkbox container */
.checkbox-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

/* Custom checkbox appearance */
.custom-checkbox {
  position: relative;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  margin-left: 20px;
  border: 2px solid #C8C6C6;
  border-radius: 4px;
  transition: background-color 0.3s, border-color 0.3s;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .custom-checkbox {
  border: 2px solid #0091FF;
  border-radius: 4px;
}
/* Checked state for the custom checkbox */
input[type="checkbox"]:checked + .custom-checkbox {
    border-color: #2196F3;
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.custom-checkbox::after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.checkbox-container input:checked ~ .custom-checkbox:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .custom-checkbox:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}