.flexbox-item{
    min-width: 225px;
    margin: 10px;
    border-radius: 5px;
    /* below only for design*/
    /*border: 3px solid #333;
    background-color: white;*/
}

.flexbox-hacking_cars{
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: flex-start;
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.flexbox-hacking_scenarios{
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    min-width: 425px;

}

.flexbox-radio-button > div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 15px;
      position: relative;
    }

.scenarioDescription{
        margin-left: 50px;
}

.activeScenario_text{
        margin-bottom: 15px;
}

.flexbox-manageCars{

}

.flexbox-activeCars{

}